body {
    font-family: 'lato', sans-serif;
    color: #272a31;
}
.container-fluid {
  
}
.intro-main {
    background-image: url("images/main-background.svg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    background-position: center center;
}

.orange {
    color: #ec5242;
}

.ash {
    color: #d3d3d3;
}

.grey-bg {
    background-color: #F5F5F5;
}

.text {
    color: black;
    background-color: #f5f5f5;
    mix-blend-mode:screen;
    margin: 0;
  }

  .flex-column {display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .program-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 50px;
  background-color: #272a31;
  background-image: url('./images/program-background.svg');
  }

  .program-hd3 {
    color: #fff;
  }

  .underline {
    width: 50px;
    height: .5px;
    background-color: #ec5242;
    color: #ec5242;
    margin-top: 5px;
    margin-bottom: 30px;
  }
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
}
.card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 30px;
  background-color: rgba(255, 255, 255, 0.068);
}

.card > * {
  flex-shrink: 1;
  flex-grow: 0;
  font-size: 0.8rem;
}

.card-icon {
  width: 20px;
  height: auto;
  flex-basis: 10%;

}

.card-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: #ec5242;
  flex-basis: 20%;

}
.card-text {
  color: white;
  flex-basis: 60%;
}

.program-btn {
  margin: 50px;
  color: #fff;
  background-color: #ec5242;
  border: none;
  padding: 20px 30px;
}
.speaker-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.068);
}
.speaker-img-container {
    position: relative;
    top: 0;
    left: 0;
}
  .speaker-img {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    object-fit: cover;
    width: 100px;
    height: 100px;
  }
  .image-bg {
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 1;
    object-fit: cover;
    width: 75px;
    height: 70px;
    
  }
  .speaker-card-body {
    font-size: 0.7em;
  }
 

.speaker-card-title {
  font-weight: 900;
}
.speaker-subtitle {
  color: #ec5242;
}
.speaker-line {
  width: 20px;
  height: .1px;
  background-color: #272a31;
  color: #272a31;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 0;
}
a {
  text-decoration: none;
}
.more-link {
  text-align: center;
  margin: 20px;
  border: 1px solid #272a31;
  color: #272a31;
  width: 80%;
  padding: 2vw 0; 
}
.fa {
  color: #ec5242;
}
.more-link:hover {
  text-decoration: none;
}

  .overlay {
    mix-blend-mode:multiply;
  }
  .fire.backdrop {
    background-image: url(https://66.media.tumblr.com/e454398961e0203f2aad001cf7d177bf/tumblr_mrztj7GFJA1sdyj9lo1_1280.jpg);
  }
  .fire.overlay{
    background-color: rgba(255,0,0,.1);
  }




@media (min-width: 300px) {
    .custom-gap {
        gap: 10px;
    }
}

@media (min-width: 786px) {
    
}